# 构建输出目录
dist/
build/
output/

# 依赖目录
node_modules/
.bun/

# 日志文件
.pnpm-debug.log
yarn-error.log

# 覆盖率报告
coverage/

# 临时目录
temp/
tmp/

# 框架生成文件
**/.output/
**/.nuxt/
**/.vite/

# 自动生成的类型定义
src/types/generated/
**/*.generated.d.ts
